{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block content %}
	<header>
		<div id="intro">
			<p><a href="http://javascriptmx.com">javascriptmx</a></p>
			<p class="heading-emphasis"><span>presenta</span></p>
			<h1>ChelaJS</h1>
			<p class="byline">Nos reunimos a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.</p>
		</div>

		<nav id="main-nav" role="navigation">
			<div class="left">
				<a href="#proximo-evento">eventos</a>
				<a href="/patrocinadores">patrocinadores</a>
			</div>
			<div class="logo">
				<img src="/img/logo.svg" />
			</div>
			<div class="right">
				<a href="https://twitter.com/chela_js">twitter</a>
				<a href="https://github.com/javscriptmx/chelajs">github</a>
				<a href="http://www.youtube.com/channel/UCsmWJI_UTYDbggvYoOATcIQ">youtube</a>
			</div>
		</nav>
	</header>

	<main>
		<section id="main-event">
			<p class="heading-emphasis">
				<span>{% if upcoming %}
				próximo evento
				{% else %}
				último evento
				{% endif %}</span>

			</p>
			<article class="evento cf">
				<div class="header">
					<h2 class="date-title">
						<span class="date">{{ main_event.string_date }}</span>
						<span class="title">{{ main_event.name }}</span>
					</h2>
					<p class="time-venue">
						{{ main_event.string_time }} @
						<a href="{{ main_event.venue.url }}">
							{{ main_event.venue.name }}
						</a>
					</p>
					<a href="https://www.meetup.com/ChelaJS/events/{{ main_event.meetup_id }}/" class="btn btn-primary btn-block">{% if upcoming %}
						Regístrate
						{% else %}
						Ve el Meetup
						{% endif %}</a>
				</div>
				<div class="info">
					<ol class="talks">
						{% for talk in main_event.talks %}
						<li class="talk">
							<p class="speaker">
								{% if talk.speaker.pic %}
								<span class="pic">
									<img src="{{talk.speaker.pic}}" />
								</span>
								{% endif %}
								<span class="title">{{ talk.title }}</span>
								<a href="{{ talk.speaker.url }}" class="name">{{talk.speaker.name}}</a>
							</p>
							<p class="summary">{{ talk.summary }}</p>
						</li>
						{% endfor %}
					</ol>
				</div>
			</article>
		</section>

		{#% if previous %}
		<section id="eventos-anteriores">
			<h2>Evento anterior</h2>
			{% for evt in previous %}
			<article class="evento cf">
				<div class="header">
					<h2 class="date-title">
						<span class="date">{{ evt.string_date }}</span>

					</h2>
					<p class="time-venue">{{ evt.string_time }} @ <a href="{{ evt.venue.url }}">{{ evt.venue.name }}</a></p>
					<a href="https://www.meetup.com/ChelaJS/events/{{ evt.meetup_id }}/" class="">Meetup</a>
				</div>
				<div class="info">
					<ol class="talks">
						{% for talk in evt.talks %}
						<li class="talk">
							<p class="speaker">
								{% if talk.speaker.pic %}
								<span class="pic">
									<img src="{{talk.speaker.pic}}" />
								</span>
								{% endif %}
								<span class="title">{{ talk.title }}</span>
								<a href="{{ talk.speaker.url }}" class="name">{{talk.speaker.name}}</a>
							</p>
							<p class="summary">{{ talk.summary }}</p>
						</li>
						{% endfor %}
					</ol>
				</div>
			</article>
			{% endfor %}
		</section>
		{% endif %#}

		<section id="speakers">
			<a name="speakers"></a>
			<h2>Platícanos sobre Javascript</h2>

			<p>¿Te interesa proponer o adoptar una plática? Nuestro proceso de selección de pláticas es muy sencillo, y consta de tres pasos:</p>

			<ol>
				<li><a href="https://github.com/javascriptmx/chelajs/wiki#1-hola-idea">Tú formulas</a> o <a href="https://github.com/javascriptmx/chelajs/issues?q=is%3Aopen+is%3Aissue+label%3A%22se+busca+ponente%22">adoptas</a> una idea,</li>
				<li>La compartes en los issues,</li>
				<li>Para finalmente revisarla en conjunto.</li>
			</ol>

			<div class="row">
				<div class="col-md-6 col-md-offset-4">
					<a href="https://github.com/javascriptmx/chelajs/issues" class="btn btn-primary btn-lg btn-block">Propón una plática</a>
				</div>
			</div>

			<div class="row">
				<p class="text-muted">No necesitas ser una experta en dar pláticas, tenemos una guía para preparar tu charla en <a href="https://github.com/javascriptmx/chelajs/wiki">el wiki</a>.</p>
			</div>

		</section>

		<section id="sponsors">
			<a name="sponsors"></a>
			<h2>Patrocinadores</h2>
		</section>
	</main>

	<footer>
	</footer>
{% endblock %}
