{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block content %}
	<header>
		<div id="intro">
			<p><a href="http://javascriptmx.com">javascriptmx</a></p>
			<p class="heading-emphasis"><span class="heading-emphasis">presenta</span></p>
			<h1>ChelaJS</h1>
			<p class="byline">Nos reunimos a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.</p>
		</div>

		<nav id="main-nav" role="navigation">
			<div class="left">
				<a href="#proximo-evento">eventos</a>
				<a href="/patrocinadores">patrocinadores</a>
			</div>
			<div class="center">
				<img src="/img/logo-small.png" />
			</div>
			<div class="right">
				<a href="https://twitter.com/chela_js">twitter</a>
				<a href="https://github.com/javscriptmx/chelajs">github</a>
				<a href="http://www.youtube.com/channel/UCsmWJI_UTYDbggvYoOATcIQ">youtube</a>
			</div>
		</nav>
	</header>

	<main>
		<section id="proximo-evento">
			<div class="evento cf">
				<div class="datetime">
					<p>Próximo evento</p>
					<h2>02/Dic</h2>
					<p>19:30 @ Mercado Libre</p>
				</div>
				<div class="info">
					<p>asdf</p>
				</div>
			</div>
		</section>

		<section id="speakers">
			<a name="speakers"></a>
			<h2>Platica en ChelaJS</h2>
		</section>

		<section id="sponsors">
			<a name="sponsors"></a>
			<h2>Patrocinadores</h2>
		</section>
	</main>

	<footer>
	</footer>
{% endblock %}
