$c-highlight: #fadd33;

$f-titles: Interstate, DINAlternate-Bold, 'Ropa Sans', sans-serif;
$f-text: "Neutra Text TF", "Neutra Text", 'Muli', sans-serif;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}